.icon-left{
    float:left;
    padding: 12px 25px 60px 15px;
    color: #422f21;
}

.text{
    text-align:left;
    padding:0 0 0 15px;
}
.text h4{
    padding-bottom:5px;
}
.row div > h4 {
    color: #352310;  
    font-family: 'Merienda One';	
    font-size: 17px;
}